.container{
  height: 224px;
  position: absolute;

  .content{
    height: 100%;
    font-size: 18px;

    .controls{
      width: 100%;
      height: 24px;
      background: gray;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      display: flex;
      flex-direction: row;

      p{
        width: calc(355px - 2em);
        white-space: nowrap; /* Запрет переноса текста */
        overflow: hidden; /* Скрытие текста, выходящего за границы элемента */
        text-overflow: ellipsis;
        padding: 2px 0 2px 8px;
        margin: 0;
        color: white;
      }

      .close{
        font-size: 1em;
        color: white;
        display: flex;
        align-items: center;
      }
    }
    
    video{
      height: calc(100% - 8px - 1em);
      object-fit: contain;
    }
  }
}