:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --viewing-panel-background: rgb(221, 217, 217);
  --sidebar-background: white;
  --sidebar-closer__color: rgb(65, 63, 63);
  --camera-run: lime;
  --camera-stop: grey;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}
